---
layout: page
title: Games
group: navigation
tagline: So what have we actually made?
---

{% for game in site.data.games %}
	<div class="gamelistitem" >
		<div class="gameslistheader"><h4 style="float: left; padding: 0px; margin: 0px;">{{ game.name }}</h4> <span style="float:right">{{ game.release }}</span></div>
		<div class="gameslistcontent">
			{% include {{ game.description }} %}
			
			<hr class="footerline" />
			
			</div>
		<div class="gameslistfooter">
			<div style="float: left;">
				<div class="moreinfo">
					<a href="/games/{{ game.name | downcase }}/index.html">More info</a>
				</div>
			</div>
		
			<div style="float: right;">
				{% for plat in game.platforms %}
					<img class="platicon" src="/imgs/{{ plat }}.png" />
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}