body{
	background: url("/imgs/top-cover.png") repeat-x top left, url("/imgs/side-bar.png") repeat-y top right;
}

.navbar-default{
	clear: both;
	background-image: linear-gradient(to bottom, #ea862a 0px, #df1b06 100%);
	background-repeat: repeat-x;
	border-radius: 0px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-bottom: 0px;
}

ul.nav.navbar-nav li{
	background: linear-gradient(to bottom, #f6b19b 0px, #f2673d 100%);
	border-radius: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: #000;
	border-right: 1px solid #000;
}

ul.nav.navbar-nav li:first-child{
	border-left: 1px solid #000;
}

.navbar-default .navbar-nav > li > a{
	color: #000;
}

.navbar-default .navbar-nav > .active > a{
	background: linear-gradient(to bottom, #ffc1ab 0px, #ff774d 100%);
	color: #000;
}

aside#sidebar{
	margin-right: 0px !important;
	background-color: transparent !important;
	width: 350px;
}

#miniblog{
	width: 320px;
	height: 200px;
	background-color: transparent !important;
	margin-top: 15px;
	margin-left: 15px;
	padding: 10px;
	background: url("/imgs/black-transparent.png") repeat top left;
	overflow-y: auto;
}

#miniblog h2{
	padding: 0px 0px;
	margin: 0px;
	color: #ff0000;
}

#miniblog a h4{
	padding: 0px 0px;
	margin: 0px;
	color: #f9f9f9;
	text-decoration: none;
}

#miniblog a, #miniblog a:visited, #miniblog a:hover{
	text-decoration: none;
}

#mybiopic{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 120px;
	width: 120px;
}


#sociallist{
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	width: 90%;
	margin-left: 5%;
	list-style-type: none;
}


#sociallist li{
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
	margin-right: 5px;
	float: left;
}

#sociallist li a, #sociallist li a:hover, #sociallist li a:visited{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}



legend{
	border-width: 0px 0px 0px 0px;
}

#message{
	width: 640px;
	height: 200px;
}

.gamelistitem{
	background-color: #f5f5f5;
	border: 1px solid #f0f0f0;
	margin-bottom: 1em;
}

.gameslistheader{
	background-color: #f0f0f0;
	padding: 0.5em;
	width: 100%;
	height: 2.5em;
}

.gameslistcontent{
	padding: 0.5em;
	padding-bottom: 0em;
}

.gameslistfooter{
	padding: 0.5em;
	padding-top: 0em;
	width: 100%;
	height: 2.5em;
}

.footerline{
	background-color: #dd7700; 
	color: #dd7700;
	border: 0px solid #dd7700;
	height: 1px;
	
	padding: 0px;
	margin: 0px;
	margin-bottom: 0.2em;
}

.gamelisttitle{
	color: #dd7700;
}

.downloadtitle{
	padding-top: 0.4em;
	color: #007700;
	float: left;
}

.downloadlist{
	padding-top: 0.4em;
	margin-left: 6em;
}

.downloadlist a, .downloadlist a:hover, .downloadlist a:visited{
	background-color: #e0e0e0;
	padding: 0.2em 0.5em;
	border-radius:  1em;
	color: #000000;
	text-decoration: none;
}

.downloadlist a:hover{
	background-color: #d0d0d0;
}

.moreinfo{
	padding-top: 0.4em;
	margin-left: 0.5em;
}

.moreinfo a, .moreinfo a:hover, .moreinfo a:visited{
	background-color: #e0e0e0;
	padding: 0.2em 0.5em;
	border-radius:  1em;
	color: #000000;
	text-decoration: none;
}

.gameplaticons{

}

.platicon{
	
}

.gamevideo{
	float: right;
	margin: 10px;
	height: 315px;
	width: 420px;
}

.gamemainshot{
	float: right;
	margin: 10px;
	height: 240px;
	width: 320px;
}

.gameshot{
	float: left;
	margin: 10px;
	height: 120px;
	width: 160px;
}

.gameshotlineend{
	margin: 10px;
	height: 120px;
	width: 160px;
}

.bloglistitem{
	background-color: #f5f5f5;
	border: 1px solid #f0f0f0;
	margin-bottom: 1em;
}

.bloglistheader{
	background-color: #f0f0f0;
	padding: 0.5em;
	width: 100%;
	height: 2.5em;
}

.bloglistcontent{
	padding: 0.5em;
	padding-bottom: 0em;
}

.bloglistfooter{
	padding: 0.5em;
	padding-top: 0em;
	width: 100%;
	height: 2.5em;
}


/*Chrome fix v0.1*/
.container{
	float: left;
}

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(/imgs/invasodado-sprites.png);}

.alien-blue {width:28px; height:32px; background-position: -192px -0px}
.alien-green {width:28px; height:32px; background-position: -220px -0px}
.alien-purple {width:28px; height:32px; background-position: -248px -0px}
.alien-red {width:28px; height:32px; background-position: -276px -0px}
.alien-yellow {width:28px; height:32px; background-position: -304px -0px}
.block-blue {width:32px; height:32px; background-position: -0px -0px}
.block-green {width:32px; height:32px; background-position: -32px -0px}
.block-purple {width:32px; height:32px; background-position: -64px -0px}
.block-red {width:32px; height:32px; background-position: -96px -0px}
.block-yellow {width:32px; height:32px; background-position: -128px -0px}
.ship {width:32px; height:32px; background-position: -160px -0px}