---
layout: page
title: Blog
tagline: Updates and topics of interest from Corundum Games!
group: navigation
weight: 1
---
{% include JB/setup %}

{% for post in site.posts %}
	<div class="bloglistitem" >
		<div class="bloglistheader"><a href="{{ post.url | downcase }}"><h4 style="float: left; padding: 0px; margin: 0px;">{{ post.title }}</h4></a><span style="float:right">{{ post.date | date_to_string }}</span></div>
		<div class="bloglistcontent">
			{{ post.excerpt }}
			<hr class="footerline" />	
		</div>
		<div class="bloglistfooter">
			<div style="float: left;">
				<div class="moreinfo">
					<a href="{{ post.url | downcase }}">Read More</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}