---
layout: page
title: Gravv
tagline: Something about Gravv
---

{% for game in site.data.games %}
	{% if game.name == "Gravv" %}
	<div class="gamelistitem" >
		<div class="gameslistheader"><h4 style="float: left; padding: 0px; margin: 0px;">{{ game.name }}</h4> <span style="float:right">{{ game.release }}</span></div>
		<div class="gameslistcontent">
			{% include {{ game.description }} %}
			
			<hr class="footerline" />
			
			</div>
		<div class="gameslistfooter">
			<div style="float: left;">
				<div class="downloadtitle">//Download</div><div class="downloadlist">
					{% for dist in game.distribution %}
						{% if dist[1] == null %}
						{% else %}
							<a href="{{ dist[1] }}">{{ dist[0] }}</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		
			<div style="float: right;">
				{% for plat in game.platforms %}
					<img class="platicon" src="/imgs/{{ plat }}.png" />
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}